p{
font-family: "Times New Roman", Times, serif;
letter-spacing: 2px;
font-size: 110%;
font-weight: 400;
color: 	#00008B;
}
a{
color: 	#ff0000;
}
a:hover {
  background-color: yellow;
  border: 1px solid #FF0000
}
a:visited {
  color: green;
}

body{


  background: -webkit-linear-gradient(19deg, rgb(196, 201, 217), rgb(237, 106, 27));




}
q {
 width: 45%;
 margin : auto;
 font-size : 160%;
 border-left: 3px solid #FF0000;
background-color: #CDCDCD;
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
font-style: italic;
}

q.farmer {


}
q.villagers {


}
