p{
font-family: "Times New Roman", Times, serif;
letter-spacing: 2px;
font-size: 110%;
font-weight: 400;
color: 	#00008B;
}
a{
color: 	#ff0000;
}
a:hover {
  background-color: yellow;
  border: 1px solid #FF0000
}
a:visited {
  color: green;
}

body{
  background: -webkit-linear-gradient(19deg, rgb(196, 201, 217), rgb(237, 106, 27));
}

q {

 width: 45%;
 margin-top: 40px;
 margin-bottom: 40px;
 font-size : 160%;
background-color: #CDCDCD;
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
font-style: italic;
}

q.farmer {
border-left: 3px dashed yellow;

}
q.villagers {
border-left: 3px dashed green;
}

header:first-child{
background-color: yellow;
}

.good {
text-transform: capitalize;
color: darkred;
}
.bad {
text-transform: capitalize;
color: lightgreen;
}
.tablegrey {
background: grey;
}
.tablewhite {
background :white;
}
.paragraph1 {
font-weight: bold;
}
.imagetest {
float: right;

}
